[
  "tinypic.com",
  "imageshack.us",
  "picoodle.com",
  "freeimagehosting.net",
  "xfire.com",
  "webs.com",
  "zippyshare.com",
  "majhost.com",
  "test.com",
  "content6.flixster.com",
  "everythingfree.in",
  "fforum.ro",
  "flacboots.x10.mx",
  "forum.viciadosdbz.com.br",
  "hmsvictory.com.pl",
  "i.imm.io",
  "ika-fire.com.ar",
  "image-heberg.fr.cr",
  "img37.imagefra.me",
  "img.godplay.ro",
  "ison.id.au",
  "nasze-tematy.pl",
  "public.fight4friendship.nl",
  "quebec-gamer.ca",
  "s001.youpic.su",
  "upload.wareguild.eu",
  "verejnakomunita.eu",
  "www.arcade.grandtheftcrime.nl",
  "www.criminalwars.be",
  "www.forum.projektlodz.pl",
  "www.gamecruise.be",
  "www.gsmfans.com.br",
  "www.homebrewbuddy.co.uk",
  "www.poem-n-verse.co.uk"
]
